{% block image_crop_widget %}
{% spaceless %}
    {% if form.uri is defined %}
    {# it is crop #}
    <img src="{{ asset(image) }}" />
    {{ form_widget(form.sizes) }}
    <div class="hidden">
        {{ form_widget(form.uri) }}
        {{ form_widget(form.x) }}
        {{ form_widget(form.y) }}
        {{ form_widget(form.w) }}
        {{ form_widget(form.h) }}
    </div>
    {% else %}
        {{ form_widget(form, {'attr': {'ajax-upload': ajax}}) }}
        {% if ajax %}
            <script src="{{ asset('bundles/clarityimages/vendor/jfeldstein/jquery-ajax-upload/jquery.ajaxfileupload.js') }}"></script>
            <script type="text/javascript">
                $('input[ajax-upload="1"]').ajaxfileupload({
                    'action': '{{ upload_route }}',
                    'onComplete': function(response) {
                        alert(response);
                    }
                });
            </script>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock %}