{% block clarity_image_widget %}
{% spaceless %}
{% if form.vars.value is not null %}
    <img src="{{ form.vars.value }}" />
{% endif %}
{{ form_widget(form) }}
<a class="btn" image-role="call-form" image-destination="{{ form.vars.id }}">{{ 'clarity_image.btn.change'|trans }}</a>
{# javascripts #}
<script src="{{ asset('bundles/clarityimages/vendor/jfeldstein/jquery-ajax-upload/jquery.ajaxfileupload.js') }}"></script>
<script>
    $("[image-role=call-form]").on('click', function() {
        if ($('[data-destination={{ form.vars.id }}]').length > 0 && $('[data-destination={{ form.vars.id }}]').hasClass('modal')) {
            $('[data-destination={{ form.vars.id }}]').modal('show');
        } else {
            $.get("{{ path('clarity_images_simple_image') }}", {id: "{{ form.vars.id }}"},
                function (response) {
                    $('body').append(response);
                }
            );
        }
    });
</script>
{% endspaceless %}
{% endblock %}